---

---

<div class="container">
	<main>
		<section class="tasks-list-section">
      <ul>
        <li>
          Task 1
        </li>
        <li>
          Task 2
        </li>
      </ul>
		</section>
  </main>

</div>

<style>
	.container {
		font-family: 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	@media screen and (max-width: 768px) {
		.container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
